/* [popup] button face */
.CLRF_buttons{ /* list-style-image: url("chrome://clipreference/content/icon/icons.png */ }
[id="pinBtn"]{ -moz-image-region: rect( 0px 16px 16px  0px); }
[id="sycBtn"]{ -moz-image-region: rect( 0px 32px 16px 16px); }
[id="minBtn"]{ -moz-image-region: rect( 0px 48px 16px 32px); }
[id="opnBtn"]{ -moz-image-region: rect( 0px 64px 16px 48px); }
[id="minMnu"]{ -moz-image-region: rect( 0px 64px 16px 48px); }
[id="bckBtn"]{ -moz-image-region: rect(16px 16px 32px  0px); }
[id="fwdBtn"]{ -moz-image-region: rect(16px 32px 32px 16px); }
[id="cmdBtn"]{ -moz-image-region: rect(16px 48px 32px 32px); }

/* [preference] pane tab */
#CLRF_prefWin [pane=generalPane] {
	list-style-image: url("chrome://clipreference/content/icon/circuit_g.png"); 
}
#CLRF_prefWin [pane=menuitemsPane] {
	list-style-image: url("chrome://clipreference/content/icon/icons.png");
	-moz-image-region: rect( 0px, 96px, 32px, 64px);
}

/* [preference] menuitem tab  tree decoration */
treechildren::-moz-tree-row(hover) {
	border-style: solid;
	border-color: rgba(0,0,0,0) rgba(0,0,0,0) currentcolor;
}
treechildren::-moz-tree-cell-text(newItem) { color: GrayText; }
treechildren::-moz-tree-checkbox(checked)  { list-style-image: url('chrome://global/skin/checkbox/cbox-check.gif'); }
